<form action="#" phx-submit="add">
  <%= text_input :todo, :title, placeholder: "What thing would you like to do?" %>
  <%= submit "Add", plx_disable_with: "We're on it" %>
</form>

<%= for todo <- @todos do %>
  <div>
    <%= checkbox :todo, :done, value: todo.done, phx_click: "toggle_done", phx_value: todo.id %>
    <%= todo.title %>
  </div>
<% end %>